<tr [ngClass]="{enSolde: produitStock.Produit.EnSolde}">
  <td>{{ produitStock.Produit.CodeBarre | firstUpper }}</td>
  <td>{{ produitStock.Produit.Titre }}</td>
  <td>{{ produitStock.Produit.Description }}</td>
  <td>{{ produitStock.Produit.Prix | solde:(produitStock.Produit.EnSolde):(produitStock.Produit.TauxSolde) | currency:"EUR":true:"1.0-2"}}</td>
  <td>
    <!-- Autoriser les elements html -->
    <span [innerHTML]="produitStock.Quantite | disponibilite"></span> reste: {{ produitStock.Quantite }}</td>
  <td>
    <div id="achat" *ngIf="produitStock.Quantite > 0">
      <label>Quantité d'achat: </label>
      <input type="number" #iAchat>
      <button (click)="Acheter(produitStock, iAchat)">Acheter</button>
    </div>
    <div id="commande" *ngIf="produitStock.Quantite <= 5">
      <label>Quantité à commander: </label>
      <input type="number" #iCommande>
      <button (click)="Commander(produitStock, iCommande)">Commander</button>
    </div>
    <div id="Supprimer" *ngIf="produitStock.Quantite <= 0">
      <button (click)="Supprimer(produitStock)">Supprimer</button>
    </div>
    <div id="Solder">
      <button (click)="MettreEnSolde(produitStock, button)" #button>Mettre en solde</button>
    </div>
  </td>
  <td>
    <a [routerLink]="['/produits/detail', produitStock.Produit.CodeBarre]">Détail</a>
    <!--<button (click)="ToDetail(item)">DETAIL</button>-->
  </td>
</tr>
